imageio==2.19.3
networkx==2.8.4
numpy==1.22.4
packaging==21.3
picamera==1.13
Pillow==9.1.1
pyparsing==3.0.9
PyWavelets==1.3.0
RPi.GPIO==0.7.1
scikit-image==0.19.3
SciPy==1.8.1
tifffile==2022.5.4
virtualbus==0.6.1.post1
